

.wrapper {
  padding: 0 5rem;
  position: relative;
}
.topInfo {
  border-top: solid .15rem #fff;
  font-size: 1.2rem;
  padding: .5rem 0;
  text-transform: uppercase;
}
.text {
  padding: 4rem 5rem;
  color: #ffffffaa;
  font-size: 1.2rem;
}
.skills {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 3rem;
  width: min(100%, 50rem);
  justify-content: space-between;
}

.Skill {
  display: flex;
  
}

.line {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: .5rem 0;
  border-bottom: solid #ffffffaa .05rem;
}

.line > span {
  font-size: 1.5rem;
}


@media (max-width: 1400px) {
  .text {
    padding: 4rem 0;
  }
}
@media (max-width: 850px) { 
  .wrapper {
    padding: 0 2rem;
  }
}