.BackDeco {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  z-index: -10;
  perspective: 10px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  transform-style: preserve-3d;
}

.wrapper > div {
  background: #eee;
  width: 10rem;
  aspect-ratio: 1/1;
  color: #000;
  position: absolute;
}

.layer1 {
  transform: translateZ(-10px) scale(2);
}
.layer2 {
  transform: translateZ(-20px) scale(3);
}